*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #9c6f12;
}

h1 {
  font-family: "Cinzel", serif; 
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding: 10px;

  background: linear-gradient(
    180deg,
    #fff8c9 0%,
    #f3d46b 25%,
    #d4af37 50%,
    #9c6f12 75%,
    #5e4200 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 1px 0 #fff2a6,
    0 2px 4px rgba(0,0,0,0.45),
    0 0 8px rgba(212,175,55,0.35);
}

.library {
  width: min(85vw, 1200px);
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  padding-top: 90px;
  gap: 60px;
}


.shelf-container {
  width: 100%;
  height: 160px;
  position: relative;
}


.books-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;

  position: absolute;
  bottom: 27px; 

  width: 100%;
  height: 120px;

  align-items: flex-end;
}


.book {
  width: 35px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 3px;
}

.book .title{
    writing-mode: vertical-lr;
}

.book .bar{
    width: 100%;
    height: 2px;
    background-color: #d4af37;
}

.book .author{

}


.shelf {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 27px;

  background: linear-gradient(
    180deg,
    #6b4423 0%,
    #3e2411 60%,
    #2a160a 100%
  );

  border-radius: 4px;

  box-shadow:
    inset 0 -4px 6px rgba(0, 0, 0, 0.6);
}