*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background: url(assets/bg_img3.png) center/cover no-repeat;
}

.navbar{
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 20px;
}

h1 {
  display: inline-block;
  font-family: "Cinzel", serif; 
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  color: #d4af37;


/* Golden glow */
text-shadow: 
  0 0 5px rgba(255, 255, 200, 0.8),
  0 0 10px #f6e27a,
  0 0 20px #d4af37,
  0 0 40px #a67c00;

/* subtle pulse */
animation: gold-glow 2s infinite alternate;
}

@keyframes gold-glow {
  from {
    opacity: 0.85;
    text-shadow:
      0 0 5px rgba(255, 255, 200, 0.6),
      0 0 10px #d4af37,
      0 0 20px #a67c00;
  }

  to {
    opacity: 1;
    text-shadow:
      0 0 10px rgba(255, 255, 220, 0.9),
      0 0 25px #f6e27a,
      0 0 50px #b8860b;
  }
}
    

 #soundBtn{
    color: #ffff;
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    margin-left: auto;
    transition: transform 0.5s;
  }

  #soundBtn:hover{
       transform: scale(1.2);
  }

.modal-overlay{
   display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
  z-index:100;
}

.modal-overlay.active{
   display: flex;
}

.book-modal{
  background: url(assets/book_cover.jpg) center/cover no-repeat; 
  width: 280px;
  height: 440px;
  border-radius: 6px;

  padding: 20px;

  box-shadow: 
    0 10px 30px rgba(0,0,0,0.5),   
    inset 0 0 10px rgba(0,0,0,0.4); 

  border: 2px solid #3e2a1f;
}

.book-modal #book-form{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;

}

.book-modal input,
.book-modal button {
  padding: 5px;
  border: none;
  border-radius: 4px;
  width: 80%;
}

.book-modal button {
  cursor: pointer;
}



.library {
  width: min(85vw, 1200px);
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  padding-top: 60px;
  gap: 60px;
}


.shelf-container {
  width: 100%;
  height: 160px;
  position: relative;
}


.books-row {
  display: flex;
  flex-wrap: wrap;
  gap:92px 15px;

  position: absolute;
  bottom: 27px; 

  width: 100%;
  height: 140px;

  align-items: flex-end;
}


.book {
  font-family: "Merriweather", serif;
  font-size: 12px;
  color: #a67c00;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  height: 130px;
  flex-shrink: 0;
  border-radius: 3px;
  box-shadow:
        inset -2px 0 4px rgba(0, 0, 0, 0.4),
        inset 2px 0 4px rgba(255, 255, 255, 0.05);
   transition: transform 0.5s;
   cursor: pointer;
}

.book .title{
    font-weight: 600;
    padding: 1.5px;
    margin-bottom: auto;
    font-size: inherit;
    writing-mode: vertical-lr;
    
}

.book .bar{
    display: block;
    width: 100%;
    height: 1.3px;
    padding: 0;
    border: 0;
    background-color: #d4af37;
}

.book .author{
    font-weight: 700;
    padding: 2px 4px;
}

.book:hover{
  transform: scale(1.2);
}


.shelf {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 27px;

  background: url(assets/wood.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 4px;

  box-shadow:
    inset 0 -8px 10px rgba(0, 0, 0, 0.6);
}

#addBtn{
  color: #ffff;
  background: none;
  position: fixed;
  border: none;
  font-family: "Cinzel", serif;
  font-size: 30px;
  outline: none;
  bottom: 10%;
  right: 5%;
  transition: transform 0.5s;
  
}

#addBtn img{
    width:50px;
    height: 50px;
   
    
}

#addBtn:hover{
  transform: scale(1.2);
}

/* Tablet */
@media (min-width: 601px) {
  body {
    background-image: url('assets/bg_img2.png');
  }

  h1{
     font-size: 2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  body {
    background-image: url('assets/bg_img.png');

  }

  h1{
    font-size: 3rem;
  }
}